# Project description

You work for the online store Ice, which sells video games all over the world. User and expert reviews, genres, platforms (e.g. Xbox or PlayStation), and historical data on game sales are available from open sources. You need to identify patterns that determine whether a game succeeds or not. This will allow you to spot potential big winners and plan advertising campaigns.

In front of you is data going back to 2016. Let’s imagine that it’s December 2016 and you’re planning a campaign for 2017.

(The important thing is to get experience working with data. It doesn't really matter whether you're forecasting 2017 sales based on data from 2016 or 2027 sales based on data from 2026.)

The dataset contains the abbreviation ESRB. The Entertainment Software Rating Board evaluates a game's content and assigns an age rating such as Teen or Mature.

### Step 1. Open the data file and study the general information

In [1]:
import pandas as pd
import re
import json
import requests
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
games = pd.read_csv('games.csv')

In [3]:
games.head()

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

Let's look at the general information about dataset

In [4]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [5]:
games.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

In [6]:
print('The number of duplicates: {}'.format(games.duplicated().sum()))

The number of duplicates: 0

In [7]:
print('The number of games in the dataset: {}'.format(games.shape[0]))

The number of games in the dataset: 16715

In [8]:
# Finally let's see at the value counts of all object columns
object_columns = (column for column in games.columns if games[column].dtype == 'object')
not_ratio_columns = ('Name',)
for column in object_columns:
    if column not in not_ratio_columns:
        print(games[column].value_counts(dropna=False, normalize=True))
    else:
        print(games[column].value_counts())
    print('*'*90)

Need for Speed: Most Wanted    12
Madden NFL 07                   9
LEGO Marvel Super Heroes        9
FIFA 14                         9
Ratatouille                     9
                               ..
Gale Racer                      1
Travel Coach: Europe 1          1
SWAT: Target Liberty            1
Suggoi! Arcana Heart 2          1
Mario Kart: Double Dash!!       1
Name: Name, Length: 11559, dtype: int64
******************************************************************************************
PS2     0.129285
DS      0.128687
PS3     0.079629
Wii     0.078971
X360    0.075501
PSP     0.072330
PS      0.071612
PC      0.058271
XB      0.049297
GBA     0.049177
GC      0.033264
3DS     0.031110
PSV     0.025725
PS4     0.023452
N64     0.019085
XOne    0.014777
SNES    0.014299
SAT     0.010350
WiiU    0.008794
2600    0.007957
GB      0.005863
NES     0.005863
DC      0.003111
GEN     0.001735
NG      0.000718
WS      0.000359
SCD     0.000359
3DO     0.000179
TG16    0.000120
GG      0.000060
PCFX    0.000060
Name: Platform, dtype: float64
******************************************************************************************
Action          0.201555
Sports          0.140473
Misc            0.104696
Role-Playing    0.089620
Shooter         0.079150
Adventure       0.077954
Racing          0.074723
Platform        0.053126
Simulation      0.052229
Fighting        0.050793
Strategy        0.040862
Puzzle          0.034699
NaN             0.000120
Name: Genre, dtype: float64
******************************************************************************************
NaN    0.400897
tbd    0.145019
7.8    0.019384
8      0.017350
8.2    0.016871
         ...
0.6    0.000120
1.9    0.000120
1      0.000120
0      0.000060
9.7    0.000060
Name: User_Score, Length: 97, dtype: float64
******************************************************************************************
NaN     0.404786
E       0.238708
T       0.177146
M       0.093509
E10+    0.084954
EC      0.000479
K-A     0.000179
RP      0.000179
AO      0.000060
Name: Rating, dtype: float64
******************************************************************************************

### Conclusion

As we see, our dataset contains 16715 games in other genres, on other platforms and with other user and critic ratings.

A quick analysis has revealed that there is two games without names and two games without genres. I suppose that these are the same rows in the table and we will check it in the next section.

Also we have many missing values in the year of release and huge number of the missing values in the Critic_Score, User_Score and the Rating columns. My assumption about missing values in the last one is that NaN value means E ESRB rating because Super Mario Bros. and Pokemon Red/Pokemon Blue games has E ESRB rating. But we also should provide more precise analysis to conclude this.

I can't deal any assumption about missing values in the critic/user score columns yet, but my intuition says me that data have been taken from incomplete database. But I've found several games database api's and there is information about the first two NaN games (Super Mario Bros. and Pokemon) 

Yet there are some 'tbd' values in the User_Score column and it might tell us about updated database or may be the games with 'tbd' User_Score have revealed recently.

There is no any full duplicate in our dataset but in the Name column we have 14 rows with Need For Speed: Most Wanted title. It's obviously row for every platform for this game. It's interesting to analyse multiplatform games with these user/critic score and sales on different continents

### Step 2. Prepare the data

In [9]:
# At first let's lowercase our columns for convinience
games.columns = [column.lower() for column in games.columns]
print(games.columns)

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

In [10]:
games.dtypes

name                object
platform            object
year_of_release    float64
genre               object
na_sales           float64
eu_sales           float64
jp_sales           float64
other_sales        float64
critic_score       float64
user_score          object
rating              object
dtype: object

### Convert datatypes

In [11]:
# We should convert year of release to int64, user_score to float64 (because there is decimal scores)
# And critic_score to int64 if there is no any decimal score

# At first let's check if there is any decimal score in the critic_score column
if (games['critic_score'].value_counts().index.values * 10 % 10).sum() > 0: # We sum the remainders of the critic scores.
    print('There are some games with decimal critic scores')
else:
    print("There is no any game with decimal critic score! Let's convert it to int")

There is no any game with decimal critic score! Let's convert it to int

In [12]:
games['critic_score'] = games['critic_score'].astype('Int64')
games.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,<NA>,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,<NA>,NaN,NaN

In [13]:
# To convert user_score to float we should deal with 'tbd' at first. We can replace it with zeros without losing
# any information but at first let's look that there is no any game with 0 user_score
games['user_score'].value_counts()

tbd    2424
7.8     324
8       290
8.2     282
8.3     254
       ...
1.9       2
1.5       2
1         2
0         1
9.7       1
Name: user_score, Length: 96, dtype: int64

In [14]:
# There is right one game with zero user_score, let's check it
games.query('user_score == "0"')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
2835,My Little Pony: Pinkie Pie's Party,DS,2008.0,Adventure,0.66,0.0,0.0,0.06,<NA>,0,E

In [15]:
# I don't want to lose information about the pony game so I replace 'tbd' values with -1
# and it will be numerical identifier of it
games['user_score'].replace('tbd', -1, inplace=True)

In [16]:
games['user_score'] = games['user_score'].astype('float64')

In [17]:
games['year_of_release'] = games['year_of_release'].astype('Int64')
games.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006,Sports,41.36,28.96,3.77,8.45,76,8.0,E
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,<NA>,NaN,NaN
2,Mario Kart Wii,Wii,2008,Racing,15.68,12.76,3.79,3.29,82,8.3,E
3,Wii Sports Resort,Wii,2009,Sports,15.61,10.93,3.28,2.95,80,8.0,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,<NA>,NaN,NaN

I've changed the type of the year_of_release, critic_score and the user_score columns:

I changed the first one for convinient year analysis and the year of release can't be float.

The second one was changed because critic score always is an int number

The user_score column was changed because of convinient data analysis: plot histograms, look at the descriptive statistics

### Working with missing values

In [18]:
def print_missing_statistics(table):
    number_of_missing_values = table.isna().sum()
    print(number_of_missing_values[number_of_missing_values != 0])

In [19]:
print_missing_statistics(games)

name                  2
year_of_release     269
genre                 2
critic_score       8578
user_score         6701
rating             6766
dtype: int64

In the first step of the project my assumption was that the rows with the missing name and the rows with the missing genre are the same. Let's check it.

In [70]:
games[(games['name'].isna()) & (games['genre'].isna())]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
659,NaN,GEN,1993,NaN,1.78,0.53,0.00,0.08,<NA>,NaN,NaN
14244,NaN,GEN,1993,NaN,0.00,0.00,0.03,0.00,<NA>,NaN,NaN

Hm, there are no name, genre, critic_score, user score or rating. And the most strange in these rows that the first one has na, eu and other sales and the second one has jp sales.

May be it's the same game but i can't deal any assumptions only on sales columns. And these rows will not help us in our analysis of average gamer profile on different regions. So we can just drop it becaus there is only two entries.

In [71]:
games.dropna(subset=['name', 'genre'], inplace=True)

In [72]:
print_missing_statistics(games)

year_of_release     269
critic_score       8576
user_score         6699
rating             6764
dtype: int64

In [22]:
# Now let's take a look at the year_of_release column
games_without_year_of_release = games.query('year_of_release.isna()', engine='python').copy()
games_without_year_of_release.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
183,Madden NFL 2004,PS2,<NA>,Sports,4.26,0.26,0.01,0.71,94,8.5,E
377,FIFA Soccer 2004,PS2,<NA>,Sports,0.59,2.36,0.04,0.51,84,6.4,E
456,LEGO Batman: The Videogame,Wii,<NA>,Action,1.80,0.97,0.00,0.29,74,7.9,E10+
475,wwe Smackdown vs. Raw 2006,PS2,<NA>,Fighting,1.57,1.02,0.00,0.41,<NA>,NaN,NaN
609,Space Invaders,2600,<NA>,Shooter,2.36,0.14,0.00,0.03,<NA>,NaN,NaN

It looks like some games have their year of release in their names: Madden NFL 2004, FIFA Soccer 2004, etc. So we can filter the name column by regex and find all games with year in the name.

In [23]:
regex = r'.*\d{4}.*'
date_mask = games_without_year_of_release['name'].str.contains(regex)
games_without_year_of_release[date_mask]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
183,Madden NFL 2004,PS2,<NA>,Sports,4.26,0.26,0.01,0.71,94,8.5,E
377,FIFA Soccer 2004,PS2,<NA>,Sports,0.59,2.36,0.04,0.51,84,6.4,E
475,wwe Smackdown vs. Raw 2006,PS2,<NA>,Fighting,1.57,1.02,0.00,0.41,<NA>,NaN,NaN
1650,NASCAR Thunder 2003,PS2,<NA>,Racing,0.60,0.46,0.00,0.16,84,8.7,E
2572,PES 2009: Pro Evolution Soccer,PSP,<NA>,Sports,0.04,0.33,0.26,0.17,<NA>,NaN,NaN
3486,Madden NFL 2002,XB,<NA>,Sports,0.53,0.02,0.00,0.03,90,8.1,E
4775,NFL GameDay 2003,PS2,<NA>,Sports,0.20,0.15,0.00,0.05,60,-1.0,E
5156,NBA Live 2003,XB,<NA>,Sports,0.31,0.04,0.00,0.01,82,8.8,E
5336,Tomb Raider (2013),PC,<NA>,Action,0.06,0.25,0.00,0.04,86,8.5,M
5655,All-Star Baseball 2005,PS2,<NA>,Sports,0.16,0.12,0.00,0.04,72,8.6,E
5889,NBA Live 2003,GC,<NA>,Sports,0.23,0.06,0.00,0.01,82,8.2,E
8918,All-Star Baseball 2005,XB,<NA>,Sports,0.11,0.03,0.00,0.01,75,8.8,E
13195,Tour de France 2011,X360,<NA>,Racing,0.00,0.04,0.00,0.01,46,7.6,NaN
13929,Sega Rally 2006,PS2,<NA>,Racing,0.00,0.00,0.04,0.00,<NA>,NaN,NaN
15953,PDC World Championship Darts 2008,DS,<NA>,Sports,0.01,0.00,0.00,0.00,<NA>,NaN,NaN
16079,Football Manager 2007,X360,<NA>,Sports,0.00,0.01,0.00,0.00,<NA>,NaN,NaN
16373,PDC World Championship Darts 2008,PSP,<NA>,Sports,0.01,0.00,0.00,0.00,43,-1.0,E10+

In [24]:
# Now let's fill year_of_release column with the year in the name
def fill_year_of_release(row):
    name = row['name']
    match = re.search('\d{4}', name)
    try:
        return int(name[match.start(): match.end()])
    except:
        return np.nan

In [25]:
games_without_year_of_release['year_of_release'] = games_without_year_of_release.apply(fill_year_of_release, axis=1)
games_without_year_of_release['year_of_release'] = games_without_year_of_release['year_of_release'].astype('Int64')

In [26]:
games_without_year_of_release.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
183,Madden NFL 2004,PS2,2004,Sports,4.26,0.26,0.01,0.71,94,8.5,E
377,FIFA Soccer 2004,PS2,2004,Sports,0.59,2.36,0.04,0.51,84,6.4,E
456,LEGO Batman: The Videogame,Wii,<NA>,Action,1.80,0.97,0.00,0.29,74,7.9,E10+
475,wwe Smackdown vs. Raw 2006,PS2,2006,Fighting,1.57,1.02,0.00,0.41,<NA>,NaN,NaN
609,Space Invaders,2600,<NA>,Shooter,2.36,0.14,0.00,0.03,<NA>,NaN,NaN

In [27]:
games.query('name == "LEGO Batman: The Videogame"')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
397,LEGO Batman: The Videogame,X360,2008,Action,2.04,1.02,0.0,0.32,76,7.9,E10+
456,LEGO Batman: The Videogame,Wii,<NA>,Action,1.80,0.97,0.0,0.29,74,7.9,E10+
460,LEGO Batman: The Videogame,DS,2008,Action,1.75,1.01,0.0,0.29,72,8.0,E10+
1519,LEGO Batman: The Videogame,PS3,2008,Action,0.72,0.39,0.0,0.19,75,7.7,E10+
1538,LEGO Batman: The Videogame,PSP,<NA>,Action,0.57,0.44,0.0,0.27,73,7.4,E10+
1553,LEGO Batman: The Videogame,PS2,2008,Action,0.72,0.03,0.0,0.52,77,8.9,E10+
12465,LEGO Batman: The Videogame,PC,2008,Action,0.02,0.03,0.0,0.01,80,7.8,E10+

It seems that some videogames without year of release has it in other platforms. Let's fill NaN values with appropriate values from other platforms.

In [28]:
games.query('name == "Space Invaders"')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
609,Space Invaders,2600,<NA>,Shooter,2.36,0.14,0.00,0.03,<NA>,NaN,NaN
4264,Space Invaders,SNES,1994,Shooter,0.00,0.00,0.46,0.00,<NA>,NaN,NaN
8580,Space Invaders,N64,1999,Shooter,0.13,0.03,0.00,0.00,<NA>,NaN,NaN
10383,Space Invaders,GBA,2002,Shooter,0.08,0.03,0.00,0.00,<NA>,NaN,NaN

But if we look at space invaders, we see that the game has released in different years with respect to platforms. And as wikipedia says :["The 1980 Atari VCS version quadrupled sales of the VCS"](](https://en.wikipedia.org/wiki/Space_Invaders)) which means that year of release is 1980

In [30]:
game_names_without_year_of_release = games_without_year_of_release.query('year_of_release.isna()', engine='python')['name'].unique()
print('The number of games without year of release: {}'.format(len(game_names_without_year_of_release)))

The number of games without year of release: 218

In [31]:
# Let's look how many games with year_of_release have cross-platforming
game_names_with_year_of_release = games.query('name.isin(@game_names_without_year_of_release) and not year_of_release.isna()', engine='python')['name'].unique()
print('The number of games from "games withour year" list which have cross platforms: {}'.format(len(game_names_with_year_of_release)))

The number of games from "games withour year" list which have cross platforms: 91

In [32]:
games_without_year_and_cross = set(list(game_names_without_year_of_release)).difference(set(list(game_names_with_year_of_release)))
print('The number of games without analogue on other platforms with filled year of release: {}'.format(len(games_without_year_and_cross)))

The number of games without analogue on other platforms with filled year of release: 127

In [33]:
# Let's define function which will assign to game the mode of year of release among its cross platforms versions.
# If every number is unique as in Space Invader case, mode()[0] method will return the first release date,
# and it's logic assumption I suppose
def get_year_of_release_by_cross_platforms(row, games):
    name = row['name']
    year = row['year_of_release']
    if year is not np.nan:  # to skip already filled
        return year
    try:
        return games.query('name == @name')['year_of_release'].mode()[0]
    except:
        return np.nan

In [34]:
games_without_year_of_release['year_of_release'] = games_without_year_of_release.apply(get_year_of_release_by_cross_platforms, axis=1, args=(games,))
games_without_year_of_release['year_of_release'] = games_without_year_of_release['year_of_release'].astype('Int64')

In [35]:
games_without_year_of_release.head()

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
183,Madden NFL 2004,PS2,2004,Sports,4.26,0.26,0.01,0.71,94,8.5,E
377,FIFA Soccer 2004,PS2,2004,Sports,0.59,2.36,0.04,0.51,84,6.4,E
456,LEGO Batman: The Videogame,Wii,<NA>,Action,1.80,0.97,0.00,0.29,74,7.9,E10+
475,wwe Smackdown vs. Raw 2006,PS2,2006,Fighting,1.57,1.02,0.00,0.41,<NA>,NaN,NaN
609,Space Invaders,2600,<NA>,Shooter,2.36,0.14,0.00,0.03,<NA>,NaN,NaN

In [37]:
games_without_year_of_release.query('year_of_release.isna()',engine='python')['name'].shape[0]

252

It seems that now we have 139 games without year of release and cross platforms. It strange, because our calculations show that we should have only 127 games now. Let's look a bit closer . . .

In [38]:
games_without_year_of_release.query('year_of_release.isna()',engine='python')['name'].unique().shape[0]

218

Of course! If we look at the unique names, there are the same 127 games. It means that we have some games which haven't year of release on several platforms

In [39]:
games_without_year_of_release.query('year_of_release.isna()',engine='python').head(10)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
456,LEGO Batman: The Videogame,Wii,<NA>,Action,1.80,0.97,0.0,0.29,74,7.9,E10+
609,Space Invaders,2600,<NA>,Shooter,2.36,0.14,0.0,0.03,<NA>,NaN,NaN
627,Rock Band,X360,<NA>,Misc,1.93,0.33,0.0,0.21,92,8.2,T
657,Frogger's Adventures: Temple of the Frog,GBA,<NA>,Adventure,2.15,0.18,0.0,0.07,73,-1.0,E
678,LEGO Indiana Jones: The Original Adventures,Wii,<NA>,Action,1.51,0.61,0.0,0.21,78,6.6,E10+
719,Call of Duty 3,Wii,<NA>,Shooter,1.17,0.84,0.0,0.23,69,6.7,T
805,Rock Band,Wii,<NA>,Misc,1.33,0.56,0.0,0.20,80,6.3,T
1131,Call of Duty: Black Ops,PC,<NA>,Shooter,0.58,0.81,0.0,0.23,81,5.2,M
1142,Rock Band,PS3,<NA>,Misc,0.99,0.41,0.0,0.22,92,8.4,T
1301,Triple Play 99,PS,<NA>,Sports,0.81,0.55,0.0,0.10,<NA>,NaN,NaN

Now I really can't figure out what I can do with the rest of missing values just looking at the data. But I've found one site. Its name is [RAWG Video Game Database](https://rawg.io/). And on the site you can find information about any game (include its year of release, rating and may be critic score and user score) I don't know if it's cheating because in real life problem you would use any tools which would be available for you to deal real useful things for your company and your business

In [40]:
# At first let's test the API
url = 'https://api.rawg.io/api/games'
params = {'search': 'Rock Band'}
response = requests.get(url, params=params)

In [41]:
result = response.json()['results'][0]

In [42]:
games.query('name == "Rock Band"')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
627,Rock Band,X360,<NA>,Misc,1.93,0.33,0.0,0.21,92,8.2,T
805,Rock Band,Wii,<NA>,Misc,1.33,0.56,0.0,0.20,80,6.3,T
1142,Rock Band,PS3,<NA>,Misc,0.99,0.41,0.0,0.22,92,8.4,T
1840,Rock Band,PS2,<NA>,Misc,0.71,0.06,0.0,0.35,82,6.8,T

In [43]:
result['platforms']

[{'platform': {'id': 14, 'name': 'Xbox 360', 'slug': 'xbox360'}},
 {'platform': {'id': 16, 'name': 'PlayStation 3', 'slug': 'playstation3'}},
 {'platform': {'id': 15, 'name': 'PlayStation 2', 'slug': 'playstation2'}},
 {'platform': {'id': 11, 'name': 'Wii', 'slug': 'wii'}}]

In [44]:
# Seems that it works! Let's look at the release date
result['released']

'2007-11-20'

Also let's look at the full information about game. May be we could fill all the gaps in our table

In [45]:
result

{'slug': 'rock-band',
 'name': 'Rock Band',
 'playtime': 33,
 'platforms': [{'platform': {'id': 14, 'name': 'Xbox 360', 'slug': 'xbox360'}},
  {'platform': {'id': 16, 'name': 'PlayStation 3', 'slug': 'playstation3'}},
  {'platform': {'id': 15, 'name': 'PlayStation 2', 'slug': 'playstation2'}},
  {'platform': {'id': 11, 'name': 'Wii', 'slug': 'wii'}}],
 'stores': [{'store': {'id': 3,
    'name': 'PlayStation Store',
    'slug': 'playstation-store'}},
  {'store': {'id': 6, 'name': 'Nintendo Store', 'slug': 'nintendo'}},
  {'store': {'id': 7, 'name': 'Xbox 360 Store', 'slug': 'xbox360'}}],
 'released': '2007-11-20',
 'tba': False,
 'background_image': 'https://media.rawg.io/media/screenshots/592/5923a46e97752379c39c4a8a391feedc.jpg',
 'rating': 4.13,
 'rating_top': 4,
 'ratings': [{'id': 4, 'title': 'recommended', 'count': 61, 'percent': 58.1},
  {'id': 5, 'title': 'exceptional', 'count': 33, 'percent': 31.43},
  {'id': 3, 'title': 'meh', 'count': 7, 'percent': 6.67},
  {'id': 1, 'title': 'skip', 'count': 4, 'percent': 3.81}],
 'ratings_count': 105,
 'reviews_text_count': 0,
 'added': 516,
 'added_by_status': {'yet': 2, 'owned': 418, 'beaten': 77, 'dropped': 19},
 'metacritic': None,
 'suggestions_count': 560,
 'id': 5644,
 'score': '66.272804',
 'clip': None,
 'tags': [{'id': 207,
   'name': 'Rhythm',
   'slug': 'rhythm',
   'language': 'eng',
   'games_count': 926,
   'image_background': 'https://media.rawg.io/media/screenshots/695/69511e8a8ec8edf9b85c3e68190844a4.jpg'}],
 'user_game': None,
 'reviews_count': 105,
 'saturated_color': '0f0f0f',
 'dominant_color': '0f0f0f',
 'short_screenshots': [{'id': -1,
   'image': 'https://media.rawg.io/media/screenshots/592/5923a46e97752379c39c4a8a391feedc.jpg'},
  {'id': 523137,
   'image': 'https://media.rawg.io/media/screenshots/e50/e500347e432ed7d0b32f40b4425a0617.jpg'},
  {'id': 523138,
   'image': 'https://media.rawg.io/media/screenshots/359/359fab860c6cfea5786019e8a699e992.jpg'},
  {'id': 523139,
   'image': 'https://media.rawg.io/media/screenshots/f53/f53e1bc71a5df4e7b60d6aa33295c960.jpg'},
  {'id': 523140,
   'image': 'https://media.rawg.io/media/screenshots/e00/e004bd0f446385467e402dc60a494f70.jpg'},
  {'id': 523141,
   'image': 'https://media.rawg.io/media/screenshots/3c7/3c70c7d7b77bf07117dd6ae3113b50fb.jpg'},
  {'id': 523142,
   'image': 'https://media.rawg.io/media/screenshots/758/7583b38b580379cb622725a14d41b746.jpg'}],
 'parent_platforms': [{'platform': {'id': 2,
    'name': 'PlayStation',
    'slug': 'playstation'}},
  {'platform': {'id': 3, 'name': 'Xbox', 'slug': 'xbox'}},
  {'platform': {'id': 7, 'name': 'Nintendo', 'slug': 'nintendo'}}],
 'genres': [{'id': 11, 'name': 'Arcade', 'slug': 'arcade'}]}

We see that there is 'rating' field and it looks like user score but in range 0 to 5. We can fill the missing values in the user score column with the mean/median value from other platforms. But if there will be some games without user score, we can just fill it up with this database.

Also there is no any information about sales, critic score or ESRB rating.

Yet there is 'genres' field and this genres doesn't match with table genres so we can't use the genre column for search with the API

In [46]:
# Ok. Now let's define a function to fill the release date
def get_year_of_release_via_rawg(row, url):
    name = row['name']
    year_of_release = row['year_of_release']
    if year_of_release is not np.nan:
        return year_of_release
    url = 'https://api.rawg.io/api/games'
    params = {'search': name}
    try:
        result = requests.get(url, params=params).json()['results'][0]
    except Exception as e:  # for unexpectable network errors
        return np.nan
    else:
        try:
            return int(result['released'][:4])
        except:
            return np.nan

In [47]:
games_without_year_of_release['year_of_release'] = games_without_year_of_release.apply(get_year_of_release_via_rawg, axis=1, args=(url,))
games_without_year_of_release['year_of_release'] = games_without_year_of_release['year_of_release'].astype('Int64')

In [48]:
games_without_year_of_release.query('name == "Rock Band"')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
627,Rock Band,X360,<NA>,Misc,1.93,0.33,0.0,0.21,92,8.2,T
805,Rock Band,Wii,<NA>,Misc,1.33,0.56,0.0,0.20,80,6.3,T
1142,Rock Band,PS3,<NA>,Misc,0.99,0.41,0.0,0.22,92,8.4,T
1840,Rock Band,PS2,<NA>,Misc,0.71,0.06,0.0,0.35,82,6.8,T

Now let's look at the rest of null values

In [ ]:
games_without_year_of_release.query('year_of_release.isna()')

There are just 8 games without year of release, but I am sure that I can find this information in the Internet

- Yu Yu Hakusho: Dark Tournament - 2004
- Ghostbusters II - 1989
- Demon Chaos - 2005
- McFarlane's Evil Prophecy	- 2004
- Combat Elite: WWII Paratroopers - 2005
- Fullmetal Alchemist: Brotherhood - 2010
- Super Duper Sumos - 2003

In [ ]:
years = (2004, 1989, 2005, 2004, 2005, 2010, 2005, 2003)
games_without_year = games_without_year_of_release.query('year_of_release.isna()')['name']
games_to_year = dict(zip(list(games_without_year), years))

In [ ]:
games_to_year

In [ ]:
def fill_rest_games_without_year(row, games_to_year):
    name = row['name']
    year_of_release = row['year_of_release']
    if year_of_release is not np.nan:
        return year_of_release
    return games_to_year[name]

In [ ]:
games_without_year_of_release['year_of_release'] = games_without_year_of_release.apply(fill_rest_games_without_year, axis=1, args=(games_to_year, ))

In [ ]:
print('The number of games without year of release: {}'.format(games_without_year_of_release.query('year_of_release.isna()').shape[0]))

In [ ]:
# Now let's replace original games without year of release with our new dataframe
games.update(games_without_year_of_release)

In [ ]:
print('The number of games without year of release: {}'.format(games.query('year_of_release.isna()').shape[0]))

In [ ]:
print_missing_statistics(games)

Now we have missing critic/user score and rating. Let's deal with it like with cross platform strategy

In [ ]:
games_without_critic_score = games.query('critic_score.isna()')

In [ ]:
games_without_critic_score

In [ ]:
# Now let's check unique names
game_names_without_cs = games_without_critic_score['name'].unique()
print('The unique number of games without critic score: {}'.format(game_names_without_cs.shape[0]))

In [ ]:
# Now let's check how many of these games have cross platform analogues with filled critic scores
game_names_with_cs = games.query('name.isin(@game_names_without_cs) and not critic_score.isna()')['name'].unique()

In [ ]:
print('The unique number of games with cs and cross-platforms: {}'.format(game_names_with_cs.shape[0]))

But on the other hand there are cases where a game have higher score on one platform than on another. It may be related with platform restrictions (30 FPS, inconvinient hero control, etc.) Or it may be bagged port on PC. So I think, that we can't deal any assumptions about critic or user score. 

As example, there is The Spider Man 2 (2004) on different platforms and it has 42 points on Metacritic [on PC](https://www.metacritic.com/game/pc/spider-man-2-the-game) and 80 points [on PS2](https://www.metacritic.com/game/playstation-2/spider-man-2)

So we leave critic and user score as is and go to our data engineer to ask them where our valid data are.

In [ ]:
# Finally let's look at the rating column
games_without_rating = games.query('rating.isna()')
games_without_rating.head()

In [ ]:
games_without_rating.query('year_of_release > 2000')

At the beginning my assumption was that all games with missing rating have E ESRB rating, but there is Call of Duty: Black Ops 3, which has M ESRB rating, so we can't just fill missing values with E rating.

In [ ]:
# Let's check all the Call of Duty games. May be some of them have rating
games_without_rating[games_without_rating['name'].str.contains('Call of Duty')]

Unfortunately, no. So, let's look at all "shooter" games with rating

In [ ]:
games_without_rating.query('genre == "Shooter" and not rating.isna()')

Hmmm... There is no any shooter game with rating.

In [ ]:
result = requests.get(url, {'search': 'Call of Duty: Black Ops 3'}).json()['results'][0]

In [ ]:
result['id']

In [ ]:
result = requests.get('https://api.rawg.io/api/games/{}'.format(result['id']))

In [ ]:
result.json()['esrb_rating']

But! We can get all needed information from our lovely API. There is method which gives you detailed information about game by its id. Now let's get list of games from API, pick the first one with assumption that it's more appropriate result. Then we will pick game ID, and get detailed information, included esrb_rating.

Also in detailed information there is metacritic_score field, but it's strange that there is one metacritic score for game on all platforms. We should check it with our spider man 2 example.

In [ ]:
result = requests.get(url, {'search': 'SPIDER-MAN 2'}).json()['results'][0]

In [ ]:
result['id']

In [ ]:
result = requests.get('https://api.rawg.io/api/games/{}'.format(result['id']))

In [ ]:
result.json()['metacritic']

It looks like, that the API return the highest metacritic score from all platforms. I don't think that it's reliable source, so we just will pick up esrb_rating

To fill the missing esrb rating we need three things: 

1. Method to fill the gaps which will get information from API
2. Dictionary for esrb ratings: mapping from API to appropriate value in the table
3. Dictionary games_to_esrb: if game is on several platform, we just need to request information once

In [ ]:
ratings = games['rating'].value_counts().index
rating_slugs = ['everyone', 'teen', 'mature', 'everyone-10-and-older', 'early-childhood', 'kids-to-adults', 'rating-pending', 'adults-only']
slug_to_rating = dict(zip(rating_slugs, ratings))
slug_to_rating

In [ ]:
url = 'https://api.rawg.io/api/games'
detailed_url = url + '/{}'
games_to_esrb = dict()
def fill_esrb_rating(row, games_to_esrb, slug_to_rating, url, detailed_url):
    name = row['name']
    params = {'search': name}
    if name in games_to_esrb:
        return games_to_esrb[name]
    try:
        game_id = requests.get(url, params=params).json()['results'][0]['id']
        print('game_id request for game {}: done'.format(name))
    except:
        return np.nan
    else:
        try:
            esrb_slug = requests.get(detailed_url.format(game_id)).json()['esrb_rating']['slug']
            print('esrb request for game {}: done'.format(name))
        except:
            return np.nan
        else:
            if esrb_slug in slug_to_rating:
                games_to_esrb[name] = slug_to_rating[esrb_slug]
                return slug_to_rating[esrb_slug]
            return np.nan

In [ ]:
games_without_rating['rating'] = games_without_rating.apply(fill_esrb_rating, axis=1, args=(games_to_esrb, slug_to_rating, url, detailed_url))

# PLACE FOR RATING ANALYSIS

In [ ]:
games['total_sales'] = games['na_sales'] + games['eu_sales'] + games['jp_sales'] + games['other_sales']

In [ ]:
games.head()

### Conclusion

1. We cast columns to lower case for convinience and converted several column to appropriate data types
2. Also we worked out with missing values and use not only data in the table but data from external sources (rawg DATABASE)
3. Yet we calculated total sales for every game

### Step 3. Analyze the data

#### Let's look at how many games were released in different years

In [ ]:
games_per_year = games.pivot_table(index='year_of_release', values=['total_sales'], aggfunc=['count', 'sum'])
games_per_year.columns = ['count', 'total_sales']

In [ ]:
games_per_year.tail()

We see that there is a little bit information about 2017 year and later, but the project description says that we have data only back to 2016 year. I suppose that it's artifacts of our rawg database. Let's check

In [ ]:
games.query('year_of_release == 2020')

Wikipedia says that this game was released in 1979, but rawg Database says that it released in 2020. I don't know the source of these errors, but if we have only about 10 error games about year, I think it's not critical.

Now we can just drop all games later than 2016.

In [ ]:
games = games.query('year_of_release < 2017').copy()

In [ ]:
games_per_year = games.pivot_table(index='year_of_release', values=['total_sales'], aggfunc=['count', 'sum'])
games_per_year.columns = ['count', 'total_sales']

In [ ]:
fig, ax = plt.subplots(figsize=(17, 14))
x = games_per_year.index
y_1 = games_per_year['total_sales']
y_2 = games_per_year['count']
ax.plot(x, y_1, label='total sales')
ax.plot(x, y_2, label='count')
ax.legend()
plt.show()

In [ ]:
games_per_year.tail(10)

We see smooth growth of games number and their total sales. But in 2012 we have sharp decline of number of games. It may be related with some economic crisis may be or crisis only in game industry. 

Or may be it was the beginning of AAA-games era. And to do the game, you should spend years.